{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="jumbotron text-center">
    <h1 class="display-4">Welcome to Football App!</h1>
    <p class="lead">Track and manage players and clubs easily.</p>
    <hr class="my-4">
    <p>Get started by navigating to:</p>
    <a class="btn btn-primary btn-lg" href="{% url 'player-list' %}" role="button">Players</a>
    <a class="btn btn-success btn-lg" href="{% url 'club-list' %}" role="button">Clubs</a>
</div>
{% endblock %}